# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Données locales (ne pas pousser sur GitHub)
data/raw/
data/processed/

# OS
.DS_Store
Thumbs.db
Data/raw/
data/raw/
*.tsv

# Environnements / caches
venv/
.env
.ipynb_checkpoints/
_pycache_/
.DS_Store
